block header-style
	link(rel='shortcut icon', href='/assets/img/kemdikbud_64x64.png')
	link(rel='stylesheet', href='/assets/css/bootstrap.min.css')
	link(rel='stylesheet', href='/assets/css/font-awesome.min.css')
	link(rel='stylesheet', href='/assets/css/AdminLTE.min.css')
	link(rel='stylesheet', href='/assets/css/skins/_all-skins.min.css')
	link(rel='stylesheet', href='/assets/css/style.css')
block header-script
	script(src='/assets/js/jquery.min.js')
	script(src='/assets/js/bootstrap.min.js')
	script(src='/assets/js/adminlte.min.js')
	script(src='/assets/js/jquery.dataTables.min.js')
	script(src='/assets/js/dataTables.bootstrap.min.js')
	script(src='/assets/js/bootstrap-datepicker.js')
	script(src='/assets/js/select2.min.js')
	script(src='/assets/js/script.js')