extends ../templates/layout

block pages-header
	h1 Operator
		small
block pages
	.row
		.col-md-12.col-sm-12
			.box.box-solid.box-primary
				.box-header
					h3.box-title
				// box-header
				.box-body
					table.table.table-bordered.table-striped
						thead
							tr
								th USERNAME
								th NAMA
								th Aksi
						tbody
							each val, idk in row
								tr
									td #{val.username}
									td #{val.nama}
									td
										.btn-toolbar
											//a.text-warning(href='#')
												//i.fa.fa-fw.fa-edit
											a.text-danger(href='/user/hapus/'+val.username)
												i.fa.fa-fw.fa-trash
				.box-footer
					a.btn.btn-primary(href='/user/tambah')
						i.fa.fa-fw.fa-user-plus
						= ' Tambah Operator'