extends ../templates/layout

block pages
	div.content-wrapper
		section.content-header
			h1 Ruangan
				small
		section.content
			.row
				.col-md-12.col-sm-12
					.box.box-solid.box-primary
						.box-header
							h3.box-title Edit Ruangan
						// box-header
						.box-body
							if message !== ''
								.alert(class='alert-danger alert-dismissible')
									button.close(type='button', data-dismiss='alert', aria-hidden='true') &times;
									p
										i.icon.fa.fa-ban
										= message
							form.form-horizontal(action='/ruangan/edit/'+ruangan.rowid, method='POST')
								.form-group
									label.col-sm-3.control-label(for='input_nama') Nama Ruangan
									.col-sm-9
										input#input_nama.form-control(type='text', name='nama', value=ruangan.nama, placeholder='Nama Ruangan' required)
								.form-group
									label.col-sm-3.control-label(for='input_keterangan') Keterangan
									.col-sm-9
										input#input_keterangan.form-control(type='text', name='keterangan', value=ruangan.keterangan, placeholder='keterangan', required)
								.form-group
									.col-sm-offset-3.col-sm-9
										.btn-toolbar
											button.btn.btn-md.btn-success(type='submit')
												i.fa.fa-fw.fa-save
												= ' Simpan'
											a.btn.btn-danger(href='/ruangan')
												i.fa.fa-fw.fa-undo
												= ' Batal'
						// /.box-body